@inherits LayoutComponentBase
@inject NavigationManager Nav
@using VarejoCLIENT.Services
@inject AuthService AuthService


@if (Nav.Uri.EndsWith("/login") || !AuthService.IsAutenticado)
{
    @* Se não estiver logado ou estiver na página de login, layout limpo *@
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
        @Body
    </div>
}
else
{
    @* Layout padrão do ERP com Menu *@
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        // Se tentar acessar qualquer página sem estar logado, joga pro login
        if (!AuthService.IsAutenticado && !Nav.Uri.Contains("/login"))
        {
            Nav.NavigateTo("login");
        }
    }
}