<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" style="letter-spacing: 1px;" href="">VAREJO GESTOR</a>
        <button title="Navigation menu" class="navbar-toggler border-0" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column mt-2">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <i class="fa-solid fa-gauge-high me-3 fs-5"></i> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorios">
                <i class="fa-solid fa-file-chart-column me-3 fs-5"></i> Relatórios
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-4">
            <NavLink class="nav-link text-danger" style="background: rgba(220, 53, 69, 0.1);" href="logout">
                <i class="fa-solid fa-right-from-bracket me-3 fs-5"></i> Sair do Sistema
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}