@typeparam TItem
<div class="card shadow mb-4 border-0">
    <div class="card-header py-3 bg-white">
        <h6 class="m-0 font-weight-bold text-primary">@Title</h6>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="table-light">
                    <tr>@HeaderTemplate</tr>
                </thead>
                <tbody>
                    @foreach (var item in Items)
                    {
                        <tr>@RowTemplate(item)</tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();
    [Parameter] public RenderFragment HeaderTemplate { get; set; } = default!;
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; } = default!;
}