<Card CssClass="relatorio-card">

    @if (!string.IsNullOrEmpty(Titulo))
    {
        <h4>@Titulo</h4>
    }

    @if (!string.IsNullOrEmpty(Descricao))
    {
        <p>@Descricao</p>
    }

    @if (!string.IsNullOrEmpty(Valor))
    {
        <h2>@Valor</h2>
    }

    @if (ChildContent != null)
    {
        <div class="relatorio-extra">
            @ChildContent
        </div>
    }

    @if (OnClick.HasDelegate)
    {
        <button class="btn" @onclick="OnClick">
            @BotaoTexto
        </button>
    }

</Card>

@code {
    [Parameter] public string? Titulo { get; set; }
    [Parameter] public string? Descricao { get; set; }
    [Parameter] public string? Valor { get; set; }

    [Parameter] public string BotaoTexto { get; set; } = "Ver mais";
    [Parameter] public EventCallback OnClick { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }
}