@model Varejo.ViewModels.PessoaViewModel

@{
	ViewData["Title"] = "Nova Pessoa";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">

	<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

	<div class="mb-3">
		<label asp-for="NomeRazao" class="form-label"></label>
		<input asp-for="NomeRazao" class="form-control" />
		<span asp-validation-for="NomeRazao" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="TratamentoFantasia" class="form-label"></label>
		<input asp-for="TratamentoFantasia" class="form-control" />
		<span asp-validation-for="TratamentoFantasia" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="CpfCnpj" class="form-label"></label>
		<input asp-for="CpfCnpj" id="CpfCnpj" class="form-control" />
		<span asp-validation-for="CpfCnpj" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Ddd" class="form-label"></label>
		<input asp-for="Ddd" class="form-control" />
		<span asp-validation-for="Ddd" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Telefone" class="form-label"></label>
		<input asp-for="Telefone" class="form-control" />
		<span asp-validation-for="Telefone" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="mb-3 d-flex justify-content-evenly flex-column flex-md-row">

		<label class="card check p-3 text-center mb-2">
			<input asp-for="EhJuridico" id="EhJuridico" class="form-check-input d-none" type="checkbox" />
			Jurídico
		</label>

		<label class="card check p-3 text-center mb-2">
			<input asp-for="EhUsuario" class="form-check-input d-none" type="checkbox" />
			Usuário
		</label>

		<label class="card check p-3 text-center mb-2">
			<input asp-for="EhCliente" class="form-check-input d-none" type="checkbox" />
			Cliente
		</label>

		<label class="card check p-3 text-center mb-2">
			<input asp-for="EhFornecedor" class="form-check-input d-none" type="checkbox" />
			Fornecedor
		</label>

		<label class="card check p-3 text-center ativo-btn mb-2">
			<input asp-for="Ativo" class="form-check-input d-none" type="checkbox" />
		</label>
	</div>

	<h4>Endereços</h4>
	<div id="enderecos-container">
		@for (int i = 0; i < Model.Enderecos.Count; i++)
		{
			<div class="endereco-item mb-3 border p-2">
				<div class="mb-3">
					<label asp-for="Enderecos[i].Cep" class="form-label"></label>
					<input asp-for="Enderecos[i].Cep" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Logradouro" class="form-label"></label>
					<input asp-for="Enderecos[i].Logradouro" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Numero" class="form-label"></label>
					<input asp-for="Enderecos[i].Numero" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Bairro" class="form-label"></label>
					<input asp-for="Enderecos[i].Bairro" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Cidade" class="form-label"></label>
					<input asp-for="Enderecos[i].Cidade" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Uf" class="form-label"></label>
					<input asp-for="Enderecos[i].Uf" class="form-control" />
				</div>

				<div class="mb-3">
					<label asp-for="Enderecos[i].Complemento" class="form-label"></label>
					<input asp-for="Enderecos[i].Complemento" class="form-control" />
				</div>
				<div class="mb-3 d-flex justify-content-end">
					<button type="button" class="btn btn-danger mt-2 remover-endereco">Remover</button>
				</div>
			</div>

		}
	</div>
	
	<div class="btns-add-ajust d-inline-flex">
		<button type="button" id="adicionar-endereco" class="btn btn-success">+ Adicionar Endereço</button>

		<button type="submit" class="btn btn-primary">Salvar</button>
		<a asp-action="Index" class="btn btn-secondary">Voltar</a>
	</div>
</form>