@model Varejo.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Criar Nova Família";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="Post">
    <div class="form-group">
        <label asp-for="nomeUsuario" class="control-label"></label>
        <input asp-for="nomeUsuario" class="form-control" />
        <span asp-validation-for="nomeUsuario" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TipoUsuarioId" class="control-label">Tipo de Usuario</label>
        <select asp-for="TipoUsuarioId" class="form-control" asp-items="ViewBag.TipoUsuario">
            <option value="">-- Selecione a tipo de usuario --</option>
        </select>
        <span asp-validation-for="TipoUsuarioId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PessoaId" class="control-label">Pessoa Id</label>
        <select asp-for="PessoaId" class="form-control" asp-items="ViewBag.Pessoas">
            <option value="">-- Selecione a pessoa --</option>
        </select>
        <span asp-validation-for="PessoaId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Senha" class="control-label"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}