@model Varejo.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Criar Novo Usuário";
}

<div class="card shadow-sm mt-4">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="nomeUsuario" class="form-label"></label>
                <input asp-for="nomeUsuario" class="form-control" />
                <span asp-validation-for="nomeUsuario" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TipoUsuarioId" class="form-label">Tipo de Usuário</label>
                <select asp-for="TipoUsuarioId" class="form-select" asp-items="ViewBag.TipoUsuario">
                    <option value="">-- Selecione o tipo de usuário --</option>
                </select>
                <span asp-validation-for="TipoUsuarioId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PessoaId" class="form-label">Pessoa</label>
                <select asp-for="PessoaId" class="form-select" asp-items="ViewBag.Pessoas">
                    <option value="">-- Selecione a pessoa --</option>
                </select>
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Senha" class="form-label"></label>
                <input asp-for="Senha" class="form-control" type="password" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
