@using System.Security.Claims

@{
	var nomeUsuario = User.Identity?.Name ?? "Visitante";
	var role = User.FindFirst(ClaimTypes.Role)?.Value ?? "Outros";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Varejo</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/morph.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/liquidGlass.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Varejo.styles.css" asp-append-version="true" />
</head>
<body class="w-100 page-bg">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightaccept-policy border-bottom box-shadow mb-3 w-75 mx-auto @(ViewData["NavbarClass"] ?? "") navbar @(User.Identity?.IsAuthenticated ?? false ? "logged-in" : "logged-out")">
			<div class="container-fluid m-auto w-100">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex w-100 align-items-center justify-content-evenly">
					@* ul *@
					<ul class="navbar-nav flex-grow-1 fs-4 fw-bold">
						@if (User.Identity?.IsAuthenticated ?? false)
						{

							@if (role == "Administrador" || role == "Gerente")
							{
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-chart-pie"></i><span>Dashboard</span></a>
								</li>
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Pessoa" asp-action="Index"><i class="fa-solid fa-user"></i><span>Pessoa</span></a>
								</li>
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Categoria" asp-action="Index"><i class="fa-solid fa-folder-open"></i><span>Categorias</span></a>
								</li>
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Marca" asp-action="Index"><i class="fa-solid fa-tags"></i><span>Marcas</span></a>
								</li>
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Familia" asp-action="Index"><i class="fa-solid fa-basket-shopping"></i><span>Famílias</span></a>
								</li>
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="Movimento" asp-action="Index"><i class="fa-solid fa-shuffle"></i><span>Movimentos</span></a>
								</li>
							}

							@if (role == "Administrador")
							{
								<li class="nav-item tetx-white">
									<a class="nav-link" asp-area="" asp-controller="TipoMovimento" asp-action="Index"><i class="fa-solid fa-arrows-turn-to-dots"></i><span>Tipo Movimento</span></a>
								</li>

								<li class="nav-item embal">
									<a class="nav-link" asp-area="" asp-controller="TipoEmbalagem" asp-action="Index"><i class="fa-solid fa-box"></i><span>Embalagens</span></a>
								</li>
								<li class="nav-item user">
									<a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index"><i class="fa-solid fa-user-secret"></i><span>Usuários</span></a>
								</li>
							}
						}
						<li class="nav-item home">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i><span>Home</span></a>
						</li>
					</ul>

					@* <!-- Usuário logado / Login --> *@
					<div class="d-flex align-items-center ms-auto master">
						@await Html.PartialAsync("_UsuarioLogado")
					</div>

					@* <!-- Switch --> *@
					<label class="switch me-3 m-auto">
						<input type="checkbox" class="check m-auto">
						<span class="slider m-auto"></span>
					</label>
				</div>
			</div>
		</nav>
	</header>

	<div class="container mb-5 pb-3">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted text-center mx-auto bottom-0">
		<div class="container">
			&copy; 2025 - Varejo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="~/js/pessoa.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
