@using System.Security.Claims

@{
    var nome = User.Identity?.Name ?? "Visitante";
    var role = User.FindFirst(ClaimTypes.Role)?.Value ?? "Outros";

    var icone = role switch
    {
        "Administrador" => "avatar-admin.png",
        "Gerente" => "avatar-gerente.png",
        _ => "avatar-outros.png"
    };

    var badge = role switch
    {
        "Administrador" => "primary",
        "Gerente" => "warning",
        _ => "secondary"
    };
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="d-flex align-items-center gap-2">
        <img src="~/img/@icone"class="avatar avatar-master" alt="Avatar" />
        <div class="text-white small">
            Olá, <strong>@nome</strong>
            <span class="badge bg-@badge">@role</span>
        </div>
        <a asp-controller="Usuario" asp-action="Logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
}
else
{
    <a asp-controller="Usuario" asp-action="Login" class="login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
}